@import './variables.scss';
@import './mixin.scss';

.federatedSearch-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.federatedSearch {
    width: 90vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    margin: 0rem auto;
    overflow-x: hidden;

    .searchBox-wrapper {
        form {
            width: 90%;
        }
    }
}

.federatedSearch-products {
    width: 70%;
    .federated-title {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
}

.federatedSearch-suggestions {
    h3 {
        margin-bottom: 1rem;
    }
    .suggestions-container {
        display: flex;
        flex-direction: column;

        .suggestion {
            border: none;
            padding: 0;
            transition: 0.2s ease-in-out;
            text-transform: capitalize;
            &:hover {
                span {
                    color: $second-color;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}

.container-federated {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, 15%);
}

.weight__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Hit-list__icon {
        width: 2rem;
        path {
            fill: #b8b4b4;
        }
    }
    .weight__text {
        font-size: 0.8rem;
    }
}

// RECENT SEARCHES
.federatedSearch-recentSearches_items {
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;

    p {
        margin: 0.5rem 0;
        &:hover {
            color: $second-color;
            transition: 0.2s ease-in-out;
        }
    }
}

// INJECTED CONTENT
.injectedContent__wrapper {
    margin-top: 3rem;
}

.injected-content {
    img {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        object-fit: cover;
        object-position: -3rem 0rem;
    }
    h3 {
        color: $second-color;
    }
    a {
        @include btn;
        text-decoration: none;
        font-family: $main-font;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

.federatedSearch-recentSearches {
    // width: 25%;
}

.recipes-content {
    text-align: center;
}

.recipes-list {
    padding: 0.5rem !important;
    margin: 0 auto !important;
}

.recipes-button {
    border: 1 px solid #f2f2f2;
    text-decoration: none;
    color: #0073b1;
    width: 100%;
    display: flex;
    margin: 0.5rem 0;
    padding: 0.8em;
    font-size: 0.8rem;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #68a51c;
    border: none;
}
