@import '../SCSS/variables.scss';

h2 {
    font-weight: 400;
    font-size: 2rem;
}

.header {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: $fourth-color;
}

.header__up {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: flex-start;
        margin: 0 2rem;

        .register {
            font-weight: bold;
            color: $second-color;
        }
    }

    li {
        font-size: 0.8rem;
        display: flex;
        align-items: center;

        .chevron-down {
            margin-top: 0.1rem;
        }

        svg {
            width: 1rem;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .list-img-wrapper {
        img {
            cursor: pointer;
        }
    }
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-img-wrapper {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 30%;
        cursor: pointer;
    }

    .search-wrapper {
        // border-left: 1px solid $third-color;
        width: 40%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .search-placeholder {
            color: $main-color;
            font-weight: 200;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}

.header-down {
    background-color: $fourth-color;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        align-items: center;
        padding-left: 5.5rem;

        li {
            margin: 0 0.8rem;
            font-weight: 200;
            cursor: pointer;
            position: relative;
            font-size: 1rem;
            font-family: $main-font;
            color: rgba(0, 0, 0, 1);
            text-align: center;

            &:hover {
                font-weight: 400;
            }
            &::before {
                content: '';
                position: absolute;
                background-color: $second-color;
                height: 3px;
                width: 100%;
                bottom: -0.5rem;
                transform-origin: 100% 0;
                transform: scaleX(0);
                transition: transform 0.4s;
            }

            &:hover::before {
                transform-origin: 0 0;
                transform: scaleX(1);
                font-weight: 400;
            }
        }
    }
}

.search-box-container {
    height: 100px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    .search-box-container__searchBox {
        width: 50%;
    }
    .search-box-container__cross-infos {
        width: 50%;
        justify-content: end;
        display: flex;
        padding-right: 1rem;
        p {
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}
.container__infos {
    display: flex;
    justify-content: center;
    text-align: end;
    width: 33%;
    margin-left: auto;
    margin-right: 0;
    text-align: end;
    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        font-weight: 100;
    }
    .container__infos__text {
        text-align: start;
        margin-right: 2rem;
    }
}

// Show hide modal with SB
.search-box-container-show {
    opacity: 1;
    height: auto;
    display: block;
    animation: fadeIn 1s;
}
.search-box-container-hide {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// SEARCHBOX

.searchBox-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 100%;
        display: flex;
        position: relative;
        svg {
            width: 30px;
            right: 1rem;
            top: 1.2rem;
            position: absolute;
        }
    }

    input {
        width: 100%;
        margin: 1rem auto;
        border-radius: 2px;
        border: 1px solid $third-color;
        padding: 0.6rem;
        background-color: $fourth-color;
        transition: 0.2s ease-in-out;

        &:focus {
            transition: 0.2s ease-in-out;
            background-color: white;
            outline: none;
        }
    }
}

.stop-scrolling {
    overflow: hidden;
}

.shop-search{
    margin-left: 1rem;
    input{
        border: $heigth-color 1px solid;
        border-radius: 8px;
        padding: 0.2rem;
    }
}