.homepage-wrapper {
    width: 100%;
    margin: 0 auto;
    img,
    video {
        width: 100%;
    }
}

.footer {
    img {
        width: 100%;
    }
}

.carouselHome {
    width: 90%;
    margin: 5rem auto;
}

.home__images {
    margin: 0;
    padding: 0;
    img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

// Category Wrapper
.category-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
    grid-gap: 2rem;
    cursor: pointer;
    .category-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        height: 210px;
        .image-wrapper{
            img{
                border: -0.5px solid grey;
                width: 233px;
                height: 233px;
            }
        }
        .infos{
            width: 210px;
            text-align: center;
            h3{
                font-weight: 300;
            }
        }
    }
}